@import 'vars';
@import 'typography';
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

body {
  font-family: Helvetica, sans-serif;
  height: 100%;
}

.jumbotron-light {
  background-color:transparent !important;
}
